.main-content {
  line-height: 1.4;

  h1,h2,h3,h4,h5,h6 {
    color: $darkBlue;
    margin-top: $spacer-medium;
    margin-bottom: $spacer;
  }
  h2,h3,h4,h5,h6 {
    line-height: 1;
  }
  h2 {
    margin-top: $spacer;
    margin-bottom: $spacer-small;
    font-size: 2.25em;
  }

  .rules-section {
    margin: 0;
    color: $darkBlue;
    font-weight: bold;
    text-transform: uppercase;
  }

  .page-title {
    margin-top:0;
    font-size: 3em;

    &.has-promo {
      margin-bottom: 0;
    }
  }
}
