.main-content {
  line-height: 1.4;

  h1,h2,h3,h4,h5,h6 {
    color: $darkBlue;
    margin-top: $spacer-medium;
    margin-bottom: $spacer;
  }
  h2,h3,h4,h5,h6 {
    line-height: 1.2;
  }

  .page-title {
    margin-top:0;
    font-size: 3em;
  }
}
