@mixin button($bkgc: $blue, $padding: 0 $spacer-small, $fontSize: 1em) {
  display: inline-block;
  background: $bkgc;
  border: darken($bkgc,10%) 1px solid;
  border-bottom-width: 3px;
  border-radius: $border-radius;
  color: #FFF;
  font-size: $fontSize;
  padding: $padding;
  position: relative;

  &:hover {
    background-color: darken($bkgc, 5%);
    color: #FFF;
  }
}
