@mixin index-card-bkg() {
  margin: 1em 1em 1em 0;
  padding: 16px 2em 1em;
  position: relative;
  vertical-align: top;

  background: #FFF;
  background: linear-gradient(#D9EAF3 0%, #FFF 8%) 0 4px;
  background-size: 100% 20px;

  border-radius: $border-radius;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

  &::before {
    content: '';
    position: absolute;
    width: 4px;
    top: 0;
    left: 1.25em;
    bottom: 0;
    border: 1px solid;
    border-color: transparent #EFE4E4;
  }
}
