.shirt-promo-block {
  @include block-basic;
  padding: $spacer;

  .content {
    background: url('../img/fate-shirt.png') no-repeat top center;
    background-size: contain;
    padding: $spacer * .4;

    @include breakpoint($break-medium) {
      padding: 55% $spacer $spacer-medium;
    }
  }

  a {
    @include block-basic--call-to-action;
    cursor: pointer;
  }

  @include breakpoint(max-width $break-medium) {
    .content {
      padding-top: 165px;
    }
  }
}