/* ============================================================

  Body

============================================================ */

body {
  background: url('#{$img}/tweed.png') $lightGray;
  padding-top: 40px;

  @include breakpoint($break-medium) {
    padding-top: 48px;
  }
}
