.main-content {
  @extend %inside-padding;
  background-color: $lightGray;
  border-radius: $border-radius;
  box-shadow: $boxshadow;
  position: relative;

  &:after,
  &:before {
    display: block;
    background: inherit;
    border-radius: $border-radius;
    content: '';
    position: absolute;
    left: 0px; top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: rotate(-1deg);
  }
  &:after {
    top:-5px;
    transform: rotate(.25deg);
  }

  .page-title h1 {
    border-bottom: 1px solid $mediumGray;
    margin-top: 0;
    padding-bottom: $spacer-small;
  }
}
