.block-custom-pagers {
  margin-top: $spacer-large;

  .custom-pager {
    @include list-reset-inline;

    a {
      @include button;
    }
    .key {
      margin: 0 $spacer-small;
      position: relative;
      top: 2px;
    }
  }
}