.product-list {

  .view-filters {
    margin-bottom: $spacer-large;

    //  Exposed filter
    .views-widget-filter-field_publisher_tid {
      float: left;
      width: auto;

      .views-widget .description {
        display: none;
      }
    }
    .views-submit-button {
      margin-top: $spacer-medium;
      margin-left: $spacer;
      float: left;

      input[type=submit] {
        @include button($fontSize:.85em, $padding: $spacer-small $spacer);
      }
    }
  }

  .view-content {
    @include breakpoint($break-medium) {
      font-size: .85em;
    }

    @include breakpoint($break-large) {
      column-count: 2;
    }
  }

  .views-row {
    display: inline-block;
    width: 100%;
    border-top: 1px solid $mediumGray;
    padding: $spacer-small;
  }
  .new {
    margin-right: $spacer;
    background: $purple;
    border-radius: .25em;
    color: white;
    padding: .25em .5em;
    font-size: .7em;
    top: -2px;
    position: relative;
  }
}

