/* ============================================================

  Sidebar

============================================================ */

.nav-menu {
  @include gradient-vertical($yellow, darken($yellow,10%));
  padding: $spacer-large $spacer-medium;
  border-radius: $border-radius;
  box-shadow: $boxshadow;
}
