table {
  th,
  td {
    padding: $spacer-small $spacer;
  }
}

table.ladder {
  border-collapse: collapse;
  margin-bottom: 2em;

  tr {
    td {
      border-bottom: 1px solid darken($lightGray, 20%);
      padding: .25em .5em;
    }
  }
}

table.skill-list {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  th {
    background: darken($lightGray, 15%);
    &:first-child {
      padding-left: 0;
    }
  }
  td {
    border-bottom: 1px solid darken($lightGray, 15%);
    padding: .5em 0;
    text-align: center;

    &:first-child {
      padding-left: .5em;
      text-align: left;
    }

    span {
      @include icon-after($icon-check-square, $margin: 0);
      font-size: 0px;

      &:after {
        font-size: 16px;
      }
    }
  }
  tr {
    transition: all .1s;

    &:hover {
      background: darken($lightGray, 5%);
    }
  }

  @include breakpoint(max-width $break-small) {
    th, td:first-child {
      font-size: .75em;
    }
  }
}









