/* ============================================================

  Typography

============================================================ */

body {
  color: $textColor;
  font-family: $ff-sans;
  font-size: 1em;
  line-height: 1.2;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  line-height: 1;
}

p {
  margin: 0 0 $spacer;
}
