/* ============================================================

  Variables

============================================================ */

// Colors
$blue: #1B75BC;
$darkBlue: #0A497A;
$purple: #9A4699;
$darkRed: #53121D;
$lightGray: #F9F9F9;
$mediumGray: darken($lightGray, 25%);
$yellow: #FFF8B9;
$darkYellow: darken($yellow,45%);
$orange: #FF9100;
$textColor: #333;
$linkColor: $blue;
$linkHover: $purple;

// Fonts
$ff-sans: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$ff-serif: Georgia, "Times New Roman", Times, serif;
$ff-sketch: "sketchnote-text", $ff-serif;
$ff-fontawesome: "FontAwesome";
$ff-fate: "fate";

// Spacing
$spacer: .625em;
$spacer-small: $spacer*.5;
$spacer-medium: $spacer*2;
$spacer-large: $spacer*3;
$spacer-xlarge: $spacer*4;

// Breakpoints
$break-small: 400px;
$break-medium: 700px;
$break-large: 1000px;

// Icons
$icon-plus: '\f067';
$icon-minus: '\f068';

// Paths
$img: "../img";
$icomoon-font-path: "../fonts";

// Misc
$boxshadow: 2px 2px 19px 0 rgba(0,0,0,.7);
$border-radius: 4px;
