.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: $spacer;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-index-100;

  @include breakpoint($break-medium) {
    padding: $spacer $spacer-large;
  }

  .site-name {
    margin-right: auto;
    @include breakpoint(max-width $break-medium) {
      margin: 0 auto;
    }
  }
  .menu-toggle {
    @include breakpoint($break-medium) {
      display: none;
    }
  }
  .menu-search {
    @include breakpoint($break-show-searchbar) {
      display: none;
    }
  }
  .block-search {
    width: 10em;
    @include breakpoint(max-width $break-show-searchbar) {
      display: none;
    }
  }
}
