.mailchimp-signup {
  @include block-basic;

  label {
    display: block;
    margin-bottom: $spacer-small;
    color: lighten($blue,35%);
    font-size: .85em;
    text-transform: uppercase;
  }

  input[type=text] {
    border-radius: $border-radius-small;
    border: none;
    padding: 0 $spacer-small;
    height: 30px;
    width: 100%;
  }

  input[type=submit] {
    @include block-basic--call-to-action;
  }
}
